{{template "base" .}}
	{{define "content"}}
	<div class="container">
		<div clsss ="row">
			<div class="col">
				<img src ="../static/images/luxury.jpg" class="img-fluid room-image mac-auto d-block img-thumbnail">
			</div>
		</div>
		<div clsss ="row">
			<div class ="col">
				<h1 class="text-center mt=3"> Welcome to Luxury Room Bookings!!!<h1>
				<p>Be sure to have your pages set up with the latest design and development standards. That means using an HTML5 doctype and including a viewport meta tag for proper responsive behaviors. Put it all together and your pages should look like this:</p>
			</div>
		</div>
		<div clsss ="row">
			<div class ="col text-center">
				<a class="btn btn-primary btn-lg" role="button" aria-disabled="true" href="/search">Search</a>
			</div>
		</div>
	</div>
{{end}}